.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
  /* width: 80px; */
}

.post-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 20px 50px;
  /* min-width: 30rem; */
  /* margin-bottom: 16px; */
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin: 20px 50px;
}

.hashtag {
  background-color: #1da1f2 !important;
  cursor: pointer;
  margin: 0px 3px;
}

.reactions {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #eee;
  color: #555;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  cursor: pointer;
}

.create-post {
  margin: 20px 50px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-sizing: 0px 2p 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3 ease;
  width: 80%;
  max-width: 600px;
  /* display: flex;
  flex-direction: column; */
  gap: 10px;
  font-size: 14px;
  /* color: #fff; */
}

.welcome-message {
  text-align: center !;

  color: #888;
  margin-top: 50px;
}

.spinner {
  animation: spin 2s linear infinite;
  margin: 100px auto;
}
.sidebar {
  transform: translateX(-100%);
}
.sidebar-open {
  transform: translateX(0);
}
.sidebar-closed {
  transform: translateX(-100%);
}
